.copy_right_footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: aquamarine;
    color: rebeccapurple;
    line-height: 3; 
    }
    
    .heading {
    background-color: aqua;
    color: brown;
    text-align: center;
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
    }
    
    .note {
    font-size: 15px;
    color: rebeccapurple;
    
    }
    
    canvas {
    box-shadow: 5px 5px 5px greenyellow;
    border-radius: 20px;
    border: 5px solid white;
    }